<h3>Logeate para continuar</h3>

<form onsubmit="login(event)">
    <input type="text" name="usuario" placeholder="usuario">
    <input type="password" name="contraseña" placeholder="contraseña">
    <button type="submit">Logear</button>
</form>