<table>
    <thead>
        <tr>
            {{#header}}
            <th>{{.}}</th>
            {{/header}}
            <th>*</th>
        </tr>
    </thead>
    <tbody>
        {{#body}}
        <tr id="{{ id_producto }}">
            <td>{{ id_producto }}</td>
            <td>{{ nombre }}</td>
            <td>{{ marca }}</td>
            <td>{{ color }}</td>
            <td>{{ modelo }}</td>
            <td>{{ stock }}</td>
            <td>{{ precio }}</td>
            <td>
                <button>Modificar</button>
                <button onclick="deleteRecord('{{ id_producto }}')">Eliminar</button>
            </td>
        </tr>
        {{/body}}
    </tbody>
</table>