<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1>{{ title }}</h1>
    <nav>
        <ul>
            <li><a href="/cliente">Cliente</a></li>
            <li><a href="/proveedor">Proveedor</a></li>
            <li><a href="/producto">Producto</a></li>
        </ul>
    </nav>
    <main>
        {{#product}}
            {{> product}}
        {{/product}}

        {{#supplier}}
            {{> supplier}}
        {{/supplier}}

        {{#customers}}
            {{> customers}}
        {{/customers}}
    </main>

    <script src="./js/main.js"></script>
</body>
</html>